.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

{/* 
font-size: 20px;
margin-bottom: 20px;
color: rgb(255, 255, 255);
font-weight: bold;
margin-right: 20px;
margin-left: 20px;
align-items: center;
justify-content: center;
padding: 12px;
border-radius: 16px;  
*/}
.custom-buttons button {
  appearance: button;
  align-items: center;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 60%;
  height: 45px;
  line-height: 1.15;
  margin: 13px 0 0;
  outline: none;
  overflow: hidden;
  padding: 12px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 17%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.custom-buttons button:disabled {
  cursor: default;
}

.custom-buttons button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

input {
  font-size: 15px;
  width: 50%;
  padding: 10px 10px;
  margin: 20px 0;
  box-sizing: border-box
}

.description {
  background-color: rgb(96, 85, 212);
  border-radius: 24px;
  padding: 24px;

  margin-bottom: 64px;
}

.greeting {
  color: red;
}

